
.social-media {
	font-size: 30px;
	padding: 10px;
}

.social-media : hover{

}
.fa-youtube{
	color: red;
}

.fa-facebook{
	color: blue;
}

.fa-instagram{
	color: #feda75;
}

.fa-github{
	color: #171515;
}
